service: terry-fileupload-c1as-test
provider:
  name: aws
  runtime: provided
  stage: dev
  region: us-east-1
  memorySize: 2048
  timeout: 60
functions:
  app:
    handler: lambda.handler
    layers:
      - arn:aws:lambda:us-east-1:800880067056:layer:CloudOne-ApplicationSecurity-runtime-nodejs12_x:1
    events: 
      - http: 
          path: /
          method: ANY
          cors: true
      - http: 
          path: /{proxy+}
          method: ANY
          cors: true
    
